@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container alert-container"></div>

<h2>Patient's Index</h2>
<script src="~/dist/jquery.js"></script>
<script src="~/dist/underscore.js"></script>
<script src="~/dist/bootstrapAlerts.js"></script>
@Html.Partial("_Alerts")

<style>
    .alert-container {
        position: fixed;
        left: 0;
        right: 0;
        font-size: 14px;
        z-index: 5; /* 使用 z-index 將其 layer 拉高，蓋掉其他 elements */
    }
</style>